body {
  background-image: url('backgroundcasio.jpg');
  background-size: 100vw 100vh;
  background-color: black;
  background-repeat: no-repeat;
  /*display: flex;
  flex-direction: column;*/
  font-family: 'Anton', sans-serif;
  justify-content: center;
  align-items: center;
}

#top {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(238, 144, 238, 0.4), rgba(173, 216, 230, 0.5));
  border: 4px solid rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  height: 70px;
  width: 100vw;
  align-items: center;
  z-index: 999;
}
.button {
  border: 3px solid #c9faff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(54, 0, 51, 0.8), rgba(11, 135, 147, 0.5));#EE90EE 0%, #ADD8E6 100%);
  border-radius: 50%;
  padding: 5px 20px;
  color: white;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.94);
}

.timer {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background: linear-gradient(to right, rgba(54, 0, 51, 0.8), rgba(11, 135, 147, 0.5));
  border-radius: 25px;
  padding: 10px;
  width: 80px;
  height: auto;
  color: #c9faff;
  box-shadow: 0 0 5px #c9faff, 0 0 15px #c9faff, 0 0 25px #c9faff, 0 0 100px #c9faff
}

#prevButton {
  margin-right: auto;
  box-shadow: 0 0 5px #c9faff, 0 0 15px #c9faff, 0 0 25px #c9faff, 0 0 100px #c9faff
}

#nextButton {
  margin-left: auto;
  box-shadow: 0 0 5px #c9faff, 0 0 15px #c9faff, 0 0 25px #c9faff, 0 0 100px #c9faff
}

.pagetong {
  position: relative;
}

.page.active {
  display: block;
}

.page {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 2px dashed #ddf7f1;
  margin-top: 80px;
  border-radius: 10px;
  color: white;
  padding: 6px;
  font-size: 14px;
  display: none;
}
.page h6 {
  margin: 6px 0;
}
.page p {
  margin: 6px 0;
  word-wrap: break-word;
}